body {
     height: 1000vh;
}

.dark-mode {
     color: black;
     background-color: beige;
}

/* Selector Body End */

/* Navbar Start */
.navbar .container .navbar-brand {
     color: black;
     font-weight: bolder;
     font-family: Silkscreen;
}

.navbar .container .button .navbar-toggler,
.navbar .container .offcanvas .offcanvas-header .navbar-toggler {
     color: white;
     padding: 7px 7px;
     transition: .4s;
     border: 3px solid orange;
     background-color: orange;
}

.navbar .container .offcanvas .offcanvas-header .navbar-toggler:hover {
     color: orange;
     padding: 7px 7px;
     border: 3px solid orange;
     background-color: white;
}

.navbar .container .offcanvas .offcanvas-header .offcanvas-title {
     color: orange;
     font-weight: bolder;
     font-family: Silkscreen;
}

.navbar .container .button .navbar-toggler:hover {
     color: orange;
     padding: 7px 7px;
     border: 3px solid orange;
     background-color: white;
}

.navbar .container .offcanvas-body .navbar-nav .nav-item .nav-link {
     margin: 0 5px;
     font-weight: 500;
}

.navbar .container .offcanvas-body .navbar-nav .nav-item .nav-link:hover {
     margin: 0 5px;
     transition: .5s;
     color: orange;
     font-weight: 500;
}

@media (max-width: 575.98px) {
     .navbar .container .collapse .navbar-nav .nav-item .nav-link:hover {
          color: orange;
          font-weight: bold;
          padding-left: 15px;
          border-left: 3px solid black;
     }
}

@media (max-width: 360.76px) {
     .navbar .container .offcanvas .navbar-nav .nav-item .nav-link:hover {
          color: orange;
          font-weight: bold;
          padding-left: 20px;
          border-left: 3px solid black;
     }
}

@media (max-width: 769px) {
     .navbar .container .offcanvas .navbar-nav .nav-item .nav-link:hover {
          color: orange;
          font-weight: bold;
          padding-left: 15px;
          border-left: 3px solid black;
     }
}

/* Navbar End */